body{
    background: rgb(156,255,183);
    background: linear-gradient(90deg, rgba(156,255,183,1) 0%, rgba(126,255,235,1) 47%, rgba(30,101,255,1) 100%);
}

#squares-container {
	margin-top: 30px;
    display: flex;
    justify-content: space-around;
    
}

#squares-layer {
    position: relative;
    width: 500px;
    height: 500px;
    
    border: 3px solid black;
    border-radius: 20px;
    background: white;
}

.square {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 3px solid black;
}

.red{
    background-color: red; 
}
.blue{
    background-color: blue; 
}

.green{
    background-color: green; 
}

fieldset{
    border-radius: 10px;
    background-color: rgb(200, 255, 255);
    margin: 0% 30%;
}

input{
    border-radius: 5px;
}

